* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.menu-input, .menu-label, aside h1 {
    display: none;
}

.menu-label svg {
    fill: #929292;
    transition: all 0.2s ease-in-out;
}

.menu-label svg:active {
    fill: #c5c5c5;
}

nav {
    display: flex;
    background-color: #161616;
    justify-content: center;
    align-items: center;
}

nav a {
    scale: 1.1;
    font-weight: bold;
    color: #929292;
    padding: 25px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: #c5c5c5;
}

.who-are-us {
    min-height: 100vh;
    background-color: #292929;
    color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-are-us div {
    margin: 20px;
    width: 100%;
    max-width: 1000px;
}

@media screen and (max-width: 768px) {
    nav {
        top: 80px;
        left: 0px;
        position: fixed;
        flex-direction: column;
        position: fixed;
        width: 220px;
        align-items: start;
        transition: all 0.2s ease-in-out;
        display: none;
        box-shadow: #161616 0 0 45px;
        animation-name: slideout;
        animation-duration: 0.2s;
    }

    .menu-label {
        display: flex;
        padding: 10px;
    }

    aside h1 {
        display: flex;
        color: #929292;
    }

    aside {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: #161616;
    }

    .menu-input:checked~nav {
        display: flex;
        animation-name: slidein;
        animation-duration: 0.2s;
    }
    .menu-input:active~nav {
        animation-name: slideout;
        animation-duration: 0.2s;
    }

    .menu-input:checked~.menu-label svg {
        fill: #c5c5c5;
    }
}

@keyframes slidein {
    from {
    margin-top: -200px;
    z-index: -2;
    }

    to {
    }
}

@keyframes slideout {
    from {
    }

    to {
        margin-top: -200px;
    z-index: -2;
    }
}